img {
    width: 100%
}

body {

}

.section__1 {
    width: 100%;
    height: 400px;
    background: #4183c4;
}

.section__2 {
    width: 100%;
    height: 400px;
    background: #468847;
}

.section__3 {
    width: 100%;
    height: 400px;
    background: #eed3d7;
}

.section__4 {
    width: 100%;
    height: 400px;
    background: #777777;
    position: relative;

}

.arrow {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #000;
    animation: bounce 0.5s ease-in 0s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10px);
    }
}

.overlay {
    display: none;
    position: fixed;
    z-index: 106;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100%;
    height: 500px;
    z-index: 105;
    margin: 0 auto;
}

.animation__modal {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100%;
    height: 500px;
    z-index: 107;
    margin: 0 auto;
}

.animation__modal__cancel {
    width: 25px;
    height: 17px;
    position: relative;
    float: right;
    margin: 35px 6.89855% 0 0;
    z-index: 5;
}

.animation__modal__cancel span {
    width: 100%;
    height: 2px;
    background: #ffffff;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    transition: all .4s;
}

.animation__modal__cancel span:nth-child(1) {
    transform: translateY(20px) rotate(-45deg);
    top: -13px;
}

.animation__modal__cancel span:nth-child(2) {
    transform: translateY(-20px) rotate(45deg);
    bottom: -12px;
}

.animation__modal__inner1 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30% 0;
    z-index: 4;
}

.animation__modal__inner1 .caption {
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 15%;
    opacity: 0;
}

.animation__modal__inner1 .bottle {
    width: 47%;
    margin: 0 auto 15%;
    opacity: 0;
}

.animation__modal__inner1 .text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    opacity: 0;
}

.animation__modal__inner2 {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    padding: 30% 0;
    z-index: 4;
}

.animation__modal__inner2 .caption {
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 15%;
}

.animation__modal__inner2 .image {
    width: 47%;
    margin: 0 auto 15%;

}

.animation__modal__inner2 .button {

}

.animation__modal__inner2 .button .button__item {
    width: 80%;
    margin: 0 auto 3%;
    font-size: 14px;
    text-align: center;
    border: 1px solid #fff;
    padding: 3% 0;
    color: #fff;
}

.animation__modal__inner2 .button .button__item:nth-child(3) {
    margin-bottom: 0;
}

.animation__modal__inner2 {
    position: absolute;
    top: 0;
    left: 0;
}

.slide {
    width: 80%;
    margin: 0 auto;
}

.slide__item {
    float: left;
}

.slide:after {
    content: '';
    clear: both;
    display: table;
}

.slide__item:last-child {
    margin-right: 0;
}

.modal__inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #fff;
}

.slick-slide:not(.slick-center) {
    -webkit-filter: opacity(70%);
    -moz-filter: opacity(70%);
    -o-filter: opacity(70%);
    -ms-filter: opacity(70%);
    filter: opacity(70%);
    transition: 0.2s linear;
}

.slick-next {
    position: absolute;
    font-size: 0;
    border: none;

    right: -20px;
    top: 44%;
    width: 32px;
    height: 32px;
    z-index: 2;
}

.slick-prev {
    position: absolute;
    font-size: 0;
    border: none;
    left: -20px;
    top: 44%;
    width: 32px;
    height: 32px;
    z-index: 2;
}

.slider_wrapper .slider_inner .slide_button {
    margin-top: 4%;
    width: 100%;
    background: #666666;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 14px;
    padding: 10px 0;
}

.slider_wrapper .slider_inner .slide_button a {
    display: block;
    color: #ffffff;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: none;
}

/*--------slick -----------*/
/* Slider */
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}
